// Colors
$darkBlue: #123EA4;
$gradientBlue: #002F9D;
$Cyan: #38BDFF;
$grayishBlue: #384F7C;
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: white;
$grey: #999999;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;